.crypto-form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    
    @media (max-width: 512px) {
        flex-direction: column;
        justify-content: center;   
        align-items: center; 
        flex-wrap: nowrap;
    }
}